In [4]:
import pandas as pd
import numpy as np

pd.__version__

'1.5.1'

In [5]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
data[0]

0.25

In [9]:
data[:]

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [10]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [11]:
data.iloc[0:4]

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [14]:
data.loc['a':'d'
]

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [15]:
population_dict = {'California': 38332521,
'Texas': 26448193,
'New York': 19651127,
'Florida': 19552860,
'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [16]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995}

In [19]:
states = pd.DataFrame({'area':area_dict, 'population':population})

states

              area  population
California  423967    38332521
Texas       695662    26448193
New York    141297    19651127
Florida     170312    19552860
Illinois    149995    12882135